* {
  color: #d4adfc;
}
body {
  background-color: #7e22ce;
}

#header {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: whitesmoke;
}

#container {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: grid;
  height: 600px;
  width: 600px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  max-width: 700px;
  max-height: 700px;
  background-color: white;
}

.grid-element {
  border: black 1px solid;
  user-select: none;
}

#buttonsCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  margin-right: 50px;
  background-color: #7149c6;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#gridSizeSliderLbl {
  text-align: center;
}

#value {
  text-align: center;
}

input[type="color"]:hover {
  transform: scale(1.05);
}

input[type="color"]:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type="color"] {
  background-color: #7149c6;
  width: 80px;
  height: 80px;
  border: none;
  align-self: center;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttons {
  text-align: center;
  color: whitesmoke;
  background-color: #7149c6;
  border: 1px solid white;
  font-size: 16px;
  padding: 10px;
}

.buttonsOn {
  background-color: purple;
}

#footer {
  text-align: center;
}
