* {
}
#header {
  display: flex;
  justify-content: center;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: grid;
  height: 700px;
  width: 700px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px black solid;
  max-width: 700px;
  max-height: 700px;
}

.grid-element {
  border: black 1px solid;
  user-select: none;
}

#buttonsCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 50px;
}

#gridSizeSlider {
}

#gridSizeSliderLbl {
  text-align: center;
}

#value {
  text-align: center;
}

input[type="color"]:hover {
  transform: scale(1.05);
}

input[type="color"]:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type="color"] {
  background-color: white;
  width: 80px;
  height: 80px;
  border: none;
  align-self: center;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
